Test_SOAP/GeolocalizationReferenceBasic.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="GeolocalizationReferenceBasic" targetNamespace="urn:GeolocalizationReferenceBasic" xmlns:typens="urn:GeolocalizationReferenceBasic" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:typens0="http://127.0.0.1/PFE-Simulateur/Test_SOAP/SoapServeur.php">

    <!-- partie 2 : Types-->
    <!--<types>

         <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://127.0.0.1/PFE-Simulateur/Test_SOAP/SoapServeur.php">
           <xs:element name="nmea_rmc"> si reçoit des élements en entreé
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ticker" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nmea_rmcResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="getQuoteReturn" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>


    </types>-->


    <!--Premier fonction -->
    <message name="nmea_rmc"/>
    <message name="nmea_rmcResponse">
        <part name="nmea_rmcReturn"/>
    </message>

    <message name="retourDate"/>
    <message name="retourDateResponse">
        <part name="retourDateReturn"/>
    </message>

    <portType name="SoapServeurPortType">

        <operation name="retourDate">
            <input message="typens:retourDate"/>
            <output message="typens:retourDateResponse"/>
        </operation>

        <operation name="nmea_rmc">
            <input message="typens:nmea_rmc"/>
            <output message="typens:nmea_rmcResponse"/>
        </operation>

    </portType>
    <binding name="SoapServeurBinding" type="typens:SoapServeurPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="retourDate">
            <soap:operation soapAction="urn:SoapServeurAction"/>
            <input>
                <soap:body namespace="urn:GeolocalizationReferenceBasic" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:GeolocalizationReferenceBasic" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

        <operation name="nmea_rmc">
            <soap:operation soapAction="urn:SoapServeurAction"/>
            <input>
                <soap:body namespace="urn:GeolocalizationReferenceBasic" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:GeolocalizationReferenceBasic" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

    </binding>
    <service name="GeolocalizationReferenceBasicService">
        <port name="SoapServeurPort" binding="typens:SoapServeurBinding">
            <soap:address location="http://127.0.0.1:800/PFE-Simulateur/Test_SOAP/SoapServeur.php"/>
        </port>
    </service>
   </definitions>





